/*	General CSS
--------------------------------------------------------------------------------------------*/
html, body, div, span, small, object, iframe, h1, h2, h3, h4, h5, h6, pre, a, abbr, blockquote, acronym, address, code, del, dfn, dl, dt, dd, em, img, q, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, b, p {
		margin:0;
		padding:0; 
		outline:none;
		}		

body 							{ font:normal 11px/20px Tahoma, Georgia, "Trebuchet MS", Arial, Tahoma, Helvetica, sans-serif; margin:0; padding:0; }

* html 							{ margin:0;padding:0; }

	
.alignleft						{ float:left; margin:0 15px 15px 0;}
.alignright						{ float:right; margin:0 0 15px 15px;}
.aligncenter					{ text-align:center; }

.textleft 						{ text-align:left;}
.textright  					{ text-align:right;}

.floatright 					{ float:right;}
.floatleft  					{ float:left;}
.clear							{ clear:both;}

a								{ color:#000000; text-decoration:none; }
a:hover							{ color:#0f79bf; text-decoration:none; }

p								{ margin: 0 0 15px 0;	}  	

.img_border						{ border:1px solid #ddd; padding:1px; }

p.simple						{ font-size:18px; text-transform:uppercase; color:#0f79bf;  }
.simple							{ color:#0f79bf;  }


/* PLAIN DIVIDER	----------------------------------------------------*/

.divider 						{ clear:both; border-bottom:1px solid #ddd; margin:20px 0;}

.separator						{ background:url('../images/separator.png') top left repeat-y scroll}


/* HEADINGS	----------------------------------------------------*/

h1, h2, h3, h4, h5, h6			{ font-family: Trebuchet MS, Helvetica, Garuda, sans-serif; font-weight: normal; padding: 0; color:#000; line-height:normal; }


h1								{ font-size:44px; margin:0 0 15px 0;  letter-spacing:-1px;}
h2								{ font-size:28px; margin:0 0 10px 0;  letter-spacing:-1px;}
h3 								{ font-size:21px; margin:0 0 10px 0; }
h4 								{ font-size:18px; margin:0 0 10px 0; }
h5 								{ font-size:15px; margin:0 0 5px 0;	}
h6 								{ font-size:13px; margin:0 0 5px 0; }

/* LAYOUT ------------------------------------------------------*/



html>body, 
html>body .pageleft,
html>body .pageright			{ height: auto; }


.pageleft 						{ position: fixed; top: 0; left: 0;  text-align: right; }

.pageleft 						{ color: #fff; background:#0f79bf url('../images/newbg2.png') top right no-repeat; padding: 0; left: 0; width: 40%; text-align: right; overflow: hidden; }
.pageright 						{ color: #555; background:#ffffff; padding: 0; width:60%; left: 40%; text-align: left; overflow: hidden; }

.content 						{ margin:0px;     }

#contentwrap 					{ width: auto; float:none; padding:0 30px; margin:30px 0;}

.subheader 						{ padding:0 0 15px 0; margin-bottom:15px; border-bottom:1px solid #ccc; }

/* Scroll------------------------------------------------------------*/

 .scroll-pane  					{ width:550px;  padding-right:15px; padding-bottom:40px;}
 .noscroll  					{ width:550px;  padding-right:15px; padding-bottom:40px;}
 
.left .jScrollPaneTrack 		{ left: 0;right: auto;}
.left a.jScrollArrowUp 			{ left: 0;right: auto;}
.left a.jScrollArrowDown 		{ left: 0;right: auto;}


/* LOGO	--------------------------------------------------------*/

.logo							{ float:right; display:block; border:0; padding:10px 20px 30px 0px; 	}

		  
/* MAIN MENU ---------------------------------------------------*/

.main_menu 						{ margin:0px 0 30px 0; padding:0 0px 0 0; position:relative; display:block;  	}
	
/*	MENU--------------------------------------------------------*/

#side-nav 								{ width: 206px; float:right; padding: 0; margin: 30px 0 0 15px; }
#side-nav li 							{ list-style: none; padding-bottom: 3px; text-align: right; }
#side-nav li a.parent		 			{ color: #fff; display: block; padding: 5px 15px;  cursor: pointer; text-decoration: none; }
#side-nav li a.current 					{ color: #0f79bf; font-weight: bold; background: #fff; line-height:24px;
	-moz-border-radius: 3px 0px 0px 3px;  
	-webkit-border-top-left-radius: 3px;     	
	-webkit-border-bottom-left-radius: 3px; 
	border-top-left-radius: 3px;  
	border-bottom-left-radius: 3px;        
	-moz-box-shadow:1px 1px 5px #aaa;
	-webkit-box-shadow:1px 1px 5px #aaa;
	box-shadow:1px 1px 5px #aaa;
	}
				
#side-nav li a.current:hover 			{ color: #000;}

#side-nav ul 							{ margin: 0 15px 0 0; padding: 5px 0; font-size: 11px; border-right:1px solid #fff; }
#side-nav ul li 						{ list-style: none; margin: 0; padding: 0; text-align: right; }
#side-nav ul li a 						{ color: #f0f0f0; display: block; padding: 4px 15px; line-height:normal; }

#side-nav ul li a:hover,
#side-nav ul li a.current,
#side-nav ul li a.current:hover 		{  background:none; border:none; -moz-box-shadow:none; }

#side-nav li a.hover 					{ }

/* Layout -------------------------------------------------------------------------------------------*/

.half_width 							{ width:240px;}
.one_third 								{ width:150px;}
.last 									{ margin-right:0 !important; clear:right; }

.half_width, .one_third					{ float:left; position:relative; display:inline; margin:10px 35px 20px 0; }

.last 									{ margin-right:0;    }

/* LISTS ---------------------------------------------------*/

.lists 									{ margin:10px 0;  }
.lists li								{ list-style-type:square; margin:0 0 0 20px; padding:0;    }


/* AUTHOR LISTS ---------------------------------------------------*/

ul.Author_list							{ margin:20px 0; overflow:hidden; height:100%; 	}
ul.Author_list li 						{ width:100px; float:left; padding:0 14px; margin:0px 0px 20px 0px; text-align:center; border-right:1px solid #ccc; }
ul.Author_list li img					{ text-align:center; clear:right; margin-bottom:20px;}
ul.Author_list li h4					{ margin:0; margin-left:0px; color:#000000; font-size:14px;  }
ul.Author_list li span					{ margin:0; color:#666666; text-align:center; font-size:10px; }
ul.Author_list li p						{ padding:10px 10px 0 10px; text-align:center; }
ul.Author_list li:last-child			{ margin-right:0; border:none; }


/* PORTFOLIO -----------------------------------------------------*/

ul.port_box 							{ margin:20px 0; }
ul.port_box li							{ clear:both; overflow:hidden; margin:0 5px; margin-bottom:20px; border-bottom:1px solid #ddd; background:#f9f9f9; padding:20px; position:relative; z-index:3; }
ul.port_box li	img.alignleft			{ margin-right:25px; }

ul.port_box h3							{ font-size:16px; }
ul.port_box h3, .port_box p				{ margin-bottom:10px; }
ul.port_box	p							{ line-height:normal; }

ul.port_box li							{ -moz-box-shadow:0 0 5px #aaa; -webkit-box-shadow:0 0 5px #aaa; box-shadow:0 0 5px #aaa; border:1px solid #fff; }

ul.port_box li .loading 				{ text-align:center; display:block; width:200px; height:100px; }
ul.port_box li .loading 				{ background: url('../images/ajax-loader.gif') no-repeat center center; }

ul.port_box li a img, ul.port_box li a:hover img 			{ position:relative; z-index:1; }

ul.port_box li.featured					{ background:#e0f1ff; }

.featured_project						{ background:url('../images/featured_project.png') top right no-repeat; position:absolute; top:0px; right:0; width:200px; height:100px; }


.hover_video							{ position: absolute; background:transparent url('../images/video.png') no-repeat center center;}
.hover_image							{ position: absolute; background:transparent url('../images/image.png') no-repeat center center;}


/* Blog Posts -----------------------------------------------------------*/

.post 									{ padding-top:0px; margin-bottom:40px; margin-top:10px; overflow:hidden;  }
.post h2								{ width:460px; margin-right:0;  font-size:24px;  }

.post-content 							{ }

.date 									{ width:70px; padding:0px; float:right; margin-top:5px; text-transform:uppercase; margin-bottom:15px; }
.date .day 								{ width:20px; float:left; font-size:24px; color:#000000; border-right:1px solid #999999; padding-right:10px;  line-height:25px; }
.date .month 							{ width:30px; float:right; font-size:11px; color:#000000; line-height:12px; }

.post-info 								{ padding:0px 0px 10px 0px;  }
.post-info .postmetadata 				{ font:normal 10px/14px Tahoma, Arial, Sans-serif; border:1px solid #CCCCCC; padding:5px 0; margin-bottom:5px; border-width:1px 0px 1px 0px;  }
.post-info .postmetadata a 				{ color:#0f79bf; text-transform:uppercase; letter-spacing:1px; }
.post-info .postmetadata a:hover		{ color:#000000; text-decoration:underline; }

.post-info .comments 					{ float:right;}

.post-info-no							{ padding:5px 0; font:normal 11px Arial, Tahoma, Verdana, Sans-serif; letter-spacing:1px; margin-bottom:10px;}
.post-info-no a							{ text-transform:uppercase;}


/* FOOTER -------------------------------------------------------------*/
	
.footer 							{ margin-left:0px; float:right; position:absolute; bottom:0; right:0px;   }
.footer	p							{ padding:10px; text-align:right; margin-bottom:5px; }
.footer	a							{ color:#fff; border-bottom:1px dotted #fff; }
.footer a:hover						{ color:#fff;}

/* Infobox Social Sites  ----------------------------------------------*/

.tipsy 			{ padding: 5px; font-size: 10px; background-repeat: no-repeat;  background-image: url('../images/tipsy.gif'); }
.tipsy-inner 	{ padding: 5px 8px 4px 8px; background-color: #fff; color: #000; max-width: 200px; text-align: center; }
.tipsy-inner 	{ -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north 	{ background-position: top center; }
.tipsy-south 	{ background-position: bottom center; }
.tipsy-east 	{ background-position: right center; }
.tipsy-west 	{ background-position: left center; }


.socialbar		{  margin-right:0; background:#fff;	 padding:3px 15px; color:#999; border-radius: 3px;
	-moz-box-shadow:1px 1px 5px #bbb; 
	-webkit-box-shadow:1px 1px 5px #bbb;
	box-shadow:1px 1px 5px #bbb;
	-moz-border-radius: 3px 0px 0px 3px;  
	-webkit-border-radius: 3px;     	
	}

ul.social		{ float:right; padding-left: 10px; margin-right: 0px;	}
ul.social li	{ float: left; margin: 4px 4px 0 4px;}


/* Social Buttons */
ul.social li a				{ border:0;}
ul.social li .t				{ display: block; width: 16px; height: 16px;}			

ul.social li .twitter		{ display: block; background: url('../images/icons/twitter.png') no-repeat; width: 16px; height: 16px;}
ul.social li .facebook		{ display: block; background: url('../images/icons/facebook.png') no-repeat; width: 16px; height: 16px;}			
ul.social li .digg			{ display: block; background: url('../images/icons/digg_alt.png') no-repeat; width: 16px; height: 16px;}
ul.social li .delicious		{ display: block; background: url('../images/icons/delicious.png') no-repeat; width: 16px; height: 16px;}	
ul.social li .flickr		{ display: block; background: url('../images/icons/flickr.png') no-repeat; width: 16px; height: 16px;}
ul.social li .rss			{ display: block; background: url('../images/icons/rss.png') no-repeat; width: 16px; height: 16px;}


/* Pull Quotes ------------------------------------------------------------------------------------- */

span.inset-left 			{ display: block; padding: 15px; float: left; width: 35%;letter-spacing:0; font:italic normal 14px/25px Georgia, Arial, Sans-serif;}
span.inset-right 			{ display: block; padding: 15px; float: right; width: 35%;letter-spacing:0; font:italic normal 14px/25px Georgia, rial, Sans-serif; }

/* Drop Caps -------------------------------------------------------------------------------------------*/

.dropcap1					{ display:block;  background:url('../images/dropcap.png') 50% 50% no-repeat; font-size:30px; float:left; width:40px; text-align:center; height:40px;  margin-bottom:-5px; margin-right : 10px; font-size: 2em; line-height:35px; color:#FFFFFF; padding-left:1px; padding-top:5px;}
.dropcap1 span				{ font-size: 2em; line-height:1.5em; color:#FFFFFF; }
.dropcap1 + span			{ margin-left  : -0.5em; }

.dropcap2					{ display:block; float:left; text-align:center; margin-top:0em; margin-left:0.1em; margin-right : 0.2em; font-size:3em; line-height:1em; color:#999;	}
.dropcap2 span				{ font-size:3em; line-height:1em; color:#999;}
.dropcap2 + span			{ margin-left  : 0em;}

/* Toggle Content ------------------------------------------------------------------------------------- */

h5.toggle 					{ background:transparent url('../images/plus.png') no-repeat; font-size:18px; margin-top:20px; padding:0 0 0 30px; margin-bottom:0 !important;}
h5.toggle a 				{ color: #000; padding-top:2px; text-decoration: none; display: block;}
h5.toggle a:hover 			{ }

h5.active 					{ background:transparent url('../images/minus.png') no-repeat ; margin-bottom:0 !important;  }
h5.active a:link 			{ color:#000; margin-bottom:0 !important;}

.toggle_content 			{ clear:both; overflow:hidden; border:1px solid #eee; margin:0 0 20px 0px; -moz-border-radius:4px; -webkit-border-radius: 4px; background:#f7f7f7;  }
.toggle_content div.toggleinside				{ padding:15px; }


/* Pre Code -------------------------------------------------------------------------------------------*/

code, pre					{ background: url('../images/pre_bg.gif') ; font: normal 12px/20px Consolas, "Courier New", Courier, monospace; padding: 3px 5px; margin:10px 0 20px 0; border: 1px dotted #bbb;	color: #333;}
code						{ padding: 3px 5px; background-image: none; }
pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Alert Boxes -------------------------------------------------------------------------------------------*/

span.error 					{ color: #cc0000; border-top: 3px solid #fe7b7a; border-bottom: 3px solid #fe7b7a; background: #ffd6d6 url('../images/icons/error.png') 4% 50% no-repeat;}
span.info 					{ color: #0055bb; border-top: 3px solid #629de3; border-bottom: 3px solid #629de3; background: #d8e5f8 url('../images/icons/info.png') 4% 50% no-repeat;	}
span.alert 					{ color: #b79000; border-top: 3px solid #fde179; border-bottom: 3px solid #fde179; background: #fef6d8 url('../images/icons/alert.png') 4% 50% no-repeat;}
span.download 				{ color: #ffffff; border-top: 3px solid #6a8b2c; border-bottom: 3px solid #6a8b2c; background: #7E9F59 url('../images/icons/download.png') 4% 50% no-repeat;}
span.success 				{ color: #57861a; border-top: 3px solid #c2df88; border-bottom: 3px solid #c2df88; background: #eef7dd url('../images/bullets/check.gif') 4% 50% no-repeat;}

span.error,
span.info,
span.alert,
span.success,
span.download 				{ display: block; padding: 10px 10px 10px 55px; margin:10px 5px;	-moz-box-shadow:0px 0px 2px #444; -webkit-box-shadow:0px 0px 2px #444; box-shadow:0px 0px 2px #444; }


/* Contact Form -------------------------------------------------------------------------------------------*/

#contactform 				{ padding: 15px 0;  }

#contactform label			{ width:30%; display: inline-block; }
#contactform select 		{ margin-bottom: 15px; }
#contactform textarea 		{ vertical-align: top; line-height: 1.7em; height: 150px;	}	
#contactform .indent 		{ padding-left:30%;  margin-top: 15px; }

#contactform p 				{ margin-bottom:0;}

#contactform input,
#contactform select,
#contactform textarea 		{ -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;	border-style:solid;	border-width:1px; margin-bottom: 9px !important; border: 1px solid; width: 65%; padding: 4px; background-color: #f5f5f5; border-color: #ccc #ddd #ddd #ccc; }
			
#contactform input:focus,
#contactform select:focus,
#contactform textarea:focus 		{ background:#fff; }

/* Contact button */
#contactform .submitbutton				{ color:#000; border:0; float:left; width:85px; height:30px; background:none;	}
#contactform .submitbutton:focus 		{ background:none;	}

/* The button */

a.button			{ outline:none; padding:0px 15px 0px 50px; line-height:60px; text-decoration:none; font-size:24px; background:#b8b8b8; color:#333; text-shadow:1px 1px 1px #f0f0f0; height:60px; float:right; margin:5px 10px 0px 0px;
	-moz-box-shadow:1px 1px 2px #666;
	-webkit-box-shadow:1px 1px 2px #666;
	box-shadow:1px 1px 2px #666;
	opacity:0.8;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

a.button:hover		{ opacity:1.0; text-shadow:1px 1px 1px #fff; -moz-box-shadow:1px 1px 2px #fff; -webkit-box-shadow:1px 1px 2px #fff; box-shadow:1px 1px 2px #fff; }

a.smallbutton		{ background:#b8b8b8; font-size:12px; line-height:30px; height:30px; color:#333;float:right; outline:none; text-decoration:none; padding:0px 15px 0px 50px; text-shadow:1px 1px 1px #f0f0f0; margin:5px 10px 0px 0px;
	-moz-box-shadow:1px 1px 2px #666;
	-webkit-box-shadow:1px 1px 2px #666;
	box-shadow:1px 1px 2px #666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	opacity:0.8;
}

a.smallbutton:hover	{ opacity:1.0; text-shadow:1px 1px 1px #fff; -moz-box-shadow:1px 1px 2px #fff; -webkit-box-shadow:1px 1px 2px #fff; box-shadow:1px 1px 2px #fff; }



/* Button icons */
a.pdf			{ background:#b8b8b8 url('../images/pdf.png') 10px 50% no-repeat; }
a.pdf2			{ background:#b8b8b8 url('../images/pdf.png') 10px 50% no-repeat; }
