
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
	padding:0;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: URL(/images/track.gif) top center scroll repeat-y;
	-moz-border-radius:10px;
	}
.jScrollPaneDrag {
	position: absolute;
	background:#999;
	cursor: pointer;
	overflow: hidden;
-moz-border-radius:10px;
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 10px;
	background: URL(/images/arrowup.gif) top center no-repeat;

}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	height: 10px;
	background: URL(/images/arrowdown.gif) top center no-repeat;
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}
