
.pikachoose{width:auto; margin:0 auto 30px auto;  }
/* This is the ul you have all your ../images in */
.pikachoose ul{padding-left:0;width:520px;height:50px;margin:0;overflow:hidden;  margin-top:0px;}
.pikachoose ul li{float: left;border:1px solid #ccc;padding:0px; margin:0 6px 6px 0;position:relative;overflow:hidden;}
.pikachoose ul li div img{position:relative;cursor:pointer;}

/* this is the surroundner for all your elements. This is also the fake border around the main img and room for caption */
.pika_main{width:520px; height:480px; display:block;position:relative;}
/*sine we give it the fake border, you need to position the image a little. */
.pika_main_img{position:relative;}
.pika_subdiv{position:relative; padding:0px; height:400px; width:520px;}
.pika_animationDivs{top:0px;left:0px;} /*must match top/left padding for subdiv */
.pika_subdiv img, .pika_subdiv a img{border:none;}
.pika_caption{width:520px; height:40px;  padding-top:10px;text-align:center;position:absolute; bottom:30x;left:0px; color:#666; letter-spacing:1px; font-size:11px; line-height:normal; }
.pika_caption a{color:#000; }
#pikame			{ padding-right:0 !important; height:auto; }
.pika_play{position:absolute;z-index:1;left:50%;margin-left:-25px;width:50px;top:5px; color:#FFFFFF; text-transform:uppercase;}
.pika_play a{position:relative;margin-left:auto;cursor:pointer;display: block;width:50px; background:#000; color:#FFFFFF; text-align:center;}
.pika_play a.pika_stop_button{ color:#FFFFFF; background:#000; }

.pika_navigation a{font-size: 12px; text-decoration: none;}
.pika_navigation a:hover{text-decoration: underline;}
.pika_navigation{padding-top:10px;clear:both;text-align:center;}

/* if you want to 'hide' these jus make their height and width 1px */
.pika_prev_hover{position:absolute;top:5px;left:5px;height:30px;width:80px;}
.pika_next_hover{position:absolute;top:5px;right:5px;height:30px;width:60px;}
.pika_caption span.imagetitle {font-weight:bold;display:block;margin-bottom:10px;}

